DTD/klient.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ENTITY % firmy SYSTEM "klient_firma.dtd">
<!ENTITY % adresy SYSTEM "klient_adres.dtd">


<!ELEMENT klient (dostawca | odbiorca)*>
<!ELEMENT dostawca (kod_dostawcy,nazwa,adres)>
<!ELEMENT odbiorca (kod_odbiorcy,nazwa,adres)>
<!ELEMENT kod_dostawcy (#PCDATA)>
<!ELEMENT kod_odbiorcy (#PCDATA)>
%firmy;
%adresy;
